.content {
  width: 100%;
  max-width: 45rem;
  display: grid;
  grid-gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  font-size: 1.1rem;
  border-radius: var(--rounded-sm);
  padding: .25rem;
  height: fit-content;
}

.date {
  font-size: .9rem;
  color: #555;
}
